# --- CONFIGURAÇÕES DO BANCO DE DADOS (DOCKER E SPRING) ---
DB_USERNAME=
DB_PASSWORD=
# Nome do banco de dados
DB_NAME=
DB_PORT=

# --- SEGURANÇA E AUTENTICAÇÃO (JWT) ---
JWT_SECRET=

# --- DADOS DO USUÁRIO ADMINISTRADOR INICIAL ---
ADMIN_EMAIL=
ADMIN_SENHA=

# --- CONFIGURAÇÕES DO PGADMIN (INTERFACE DO BANCO) ---
PGADMIN_EMAIL=
PGADMIN_PASSWORD=